*.jar filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
bin/vdexExtractor filter=lfs diff=lfs merge=lfs -text
bin/compact_dex_converter filter=lfs diff=lfs merge=lfs -text
bin/simg2img/** filter=lfs diff=lfs merge=lfs -text
